mixin card-device(data)
    .card-device
        .card-device__icon: +bgimage(data.icon)
        .card-device__title= data.title
        .card-device__desc= data.desc
        .card-device__links!= data.links
             


mixin page-devices
    section.section-page-devices
        .page-devices
            .page-devices__title Устройства пока не подключены
            .page-devices__desc Для комфортной работы с сервисом «ПривратникЪ» <strong>соблюдайте простую последовательность из нескольких шагов:</strong>
            .page-devices__list
                each item in app.pageDevice
                    .page-devices__item: +card-device(item)