mixin transactions
    .transactions
        .transactions__date
        .transactions__list
            .transactions__item
                .card-transaction
                    .card-transaction__icon
                    .card-transaction__main
                        .card-transaction__main
                    .card-transaction__cost раздел будет позже