.personal-top {

    display: flex;
    padding: 10px 0 10px 0;
    align-items: center;

    &__right {
        display: flex;
        margin-left: auto;
        padding: 6px 0 6px 0;
    }
}

.link-icon {

    border-radius: 8px;
    margin-left: 16px;
    cursor: pointer;

    &__svg {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
    }

    &:hover,
    &--white {
        background-color: #fff;
    }
}

.dropdown-icon {


    padding: 6px 8px;
    border-radius: 8px;
    position: relative;
    transition: 0.3s ease;




    &__head {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        top: calc(100% + 8px);
        left: 0;
        border-radius: 8px;
        background: var(--white, #FFF);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
        padding: 16px;
        width: 100vw;
        max-width: 360px;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        transition: 0.3s ease;
        z-index: 5;

        & ul {
            & li {

                border-radius: 8px;
                border: 1px solid var(--stroke, #CED6E0);
                background: var(--bg-01, #ECF0F5);
                margin-bottom: 8px;
                transition: 0.3s ease;



                & a {
                    display: block;
                    padding: 16px;
                }

                & strong {
                    display: block;
                }

                &:hover {
                    background-color: #e3e6eb;
                }

                &.is-active {

                    border-color: var(--blue-dark, #253678);
                    background: var(--blue-dark, #253678);

                    & a,
                    & span,
                    & strong {

                        color: #fff;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }

    &__svg {
        width: 48px;
        height: 48px;

        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
    }

    &__arrow {

        display: flex;
        align-items: flex-end;
        align-self: stretch;
        margin-left: 2px;
        margin-right: 8px;

        &::after {
            content: '';
            width: 24px;
            height: 24px;
            display: inline-block;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4yOTMuMjkzYTEgMSAwIDAxMS40MTQgMEw1IDMuNTg2IDguMjkzLjI5M2ExIDEgMCAwMTEuNDE0IDEuNDE0bC00IDRhMSAxIDAgMDEtMS40MTQgMGwtNC00YTEgMSAwIDAxMC0xLjQxNHoiIGZpbGw9IiMyNTM2NzgiLz48L3N2Zz4=);
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &__title {
        font-size: 16px;
        font-weight: 500;
        color: var(--blue-dark);
    }

    &__subtitle {
        font-size: 13px;
        color: var(--text-02);
        padding-bottom: 4px;
    }

    &:hover {

        background-color: #fff;

        .dropdown-icon {
            &__list {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.table-action {
    display: flex;

    & li {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 2px;

        & svg {
            fill: #A8AFC9;
        }

        &:hover {

            background-color: var(--bg-01);
            border-radius: 6px;

            & svg {
                fill: #253678;
            }

            &.row-remove {
                & svg {
                    fill: $red;
                }
            }
        }
    }
}