mixin item-notification(data)
    .top-nitification__item
        .top-nitification__title!= data.title
        .top-nitification__date= data.date
        .top-nitification__text= data.text


mixin profile-tooltip(data)
    .profile-tooltip
        .profile-tooltip__user
            .user-profile
                .user-profile__avatar
                    span.bgimage(style="")
                .user-profile__data
                    .user-profile__name Михаил Тестовый
                    .user-profile__info +7 (499) ***-**-**
        .profile-tooltip__links 
            ul
                li: a(href='#') Информация по аккаунту
                li: a(href='#') История удалений
                li: a(href='#') Настройки пользователя
        .profile-tooltip__links 
            ul
                li: a(href='#') Перейти в ЛК пользователя
                li: a(href='#') 
                    span Выйти из кабинета
                    +icons('#ic_logout')

mixin personal-top
   .personal-top
        .personal-top__left
            .dropdown-icon 
                .dropdown-icon__head
                    .dropdown-icon__svg: +icons('#ic_users')
                    .dropdown-icon__text
                        .dropdown-icon__subtitle Текущая роль
                        .dropdown-icon__title Администратор
                    .dropdown-icon__arrow 
                .dropdown-icon__list
                    ul
                        li.is-active
                            a(href='#')
                                strong Администратор
                                span У вас уже есть собственные управляющие устройства
                        li
                            a(href='#')
                                strong Пользователь
                                span Базовый доступ без управляющих устройств
        .personal-top__right
            
            .link-icon
                .link-icon__svg: +icons('#ic_chat')
                .link-icon__dropdown
                    .chat-tooltip-msg Чат с технической поддержкой сервиса
            .link-icon
                .link-icon__svg: +icons('#ic_notifications')
                .link-icon__dropdown
                    .top-nitification
                        .top-nitification__list
                            each item in app.notification
                                +item-notification(item)
                        .top-nitification__bottom
                            .top-nitification__all: a(href='#') Смотреть все уведомления
                            .top-nitification__setting: +icons('#ic_gear')

            .link-icon.link-icon--white
                .link-icon__svg: +icons('#ic_user')
                .link-icon__dropdown
                    +profile-tooltip()
