extends ../layouts/personal

include ../../blocks/modules/personal-aside/personal-aside.pug
include ../../blocks/modules/personal-top/personal-top.pug
include ../../blocks/modules/personal-content/personal-content.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug

block variables
    include ../../data/data.pug
    - const title = "Привратник - Права доступа"


block aside
  +personal-aside({
    title: 'Настройки доступа',
    openSub: true
  })

block content
  +personal-top()

  .personal-content
    .personal-content__breadcrubs
        +breadcrumb([
          'Общая информация',
          'Настройки доступа',
          'Права доступа',
        ])
    .personal-content__h1 Настройки доступа
    .personal-content__tabs
      ul
        li: a(href="access-script.html") Сценарии доступа
        li: a(href="access-users.html") Список пользователей
        li: a(href="group-list.html") Список групп
        li.is-active: a(href="access-rights.html") Права доступа
        li: a(href="access-onetime.html") Разовые/временные пропуски

    .personal-content__tab-container
      .access-config
        .access-config__title Права доступа
        .access-config__desc 
          |  Нет сценариев доступа, перейдите в раздел 
          a(href='#') «Сценарии доступа» 
          | и создайте нужный сценарий. Нет пользователей, перейдите в раздел 
          a(href='#') «Список пользователей» 
          | и добавьте их.
        .access-config__action
          .access-config__add: button.btn.btn--add(data-rights="add" disabled) Добавить права доступа
          .access-config__find.access-config__find--min
            .input--find: input(type="text" placeholder="Найти пользователя или группу")
         


block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")