extends ../layouts/personal

include ../../blocks/modules/personal-aside/personal-aside.pug
include ../../blocks/modules/personal-top/personal-top.pug
include ../../blocks/modules/personal-content/personal-content.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug

block variables
    include ../../data/data.pug
    - const title = "Привратник - Разовые/временные пропуски"


block aside
  +personal-aside({
    title: 'Настройки доступа',
    openSub: true
  })

block content
  +personal-top()

  .personal-content
    .personal-content__breadcrubs
        +breadcrumb([
          'Настройки доступа',
          'Разовые/временные пропуски',
        ])
    .personal-content__h1 Разовые/временные пропуски
   

    


block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")