extends ../layouts/personal

include ../../blocks/modules/personal-aside/personal-aside.pug
include ../../blocks/modules/personal-top/personal-top.pug
include ../../blocks/modules/personal-content/personal-content.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug

block variables
    include ../../data/data.pug
    - const title = "Привратник - Статистика доступа"


block aside
  +personal-aside({
    title: 'Статистика доступа'
  })

block content
  +personal-top()

  .personal-content
    .personal-content__breadcrubs
        +breadcrumb([
          'Общая информация',
          'Статистика доступа',
        ])
    .personal-content__h1 Статистика доступа
    .personal-content__action
        .personal-content__add
          a(href='#'): button.btn Добавить доступ
    .personal-content__main
        div Статистика доступа

    


block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")