extends ../layouts/personal

include ../../blocks/modules/personal-aside/personal-aside.pug
include ../../blocks/modules/personal-top/personal-top.pug
include ../../blocks/modules/personal-content/personal-content.pug
include ../../blocks/modules/personal-statistics/table-statistics.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/components/pagination/pagination.pug

block variables
    include ../../data/data.pug
    - const title = "Привратник - Статистика доступа"


block aside
  +personal-aside({
    title: 'Статистика доступа'
  })

block content
  +personal-top()

  .personal-content
    .personal-content__breadcrubs
        +breadcrumb([
          'Общая информация',
          'Статистика доступа',
        ])
    .personal-content__h1 Статистика доступа
    .personal-content__tabs
      ul(data-tab-center="")
        li.is-active: a(href="personal-access.html") Открытия в реальном времени
        li: a(href="report-master.html") Мастер отчётов

    .personal-content__h2 Открытия в режиме реального времени
    .personal-content__desc Смотрите открытия по созданным ранее доступам за день в режиме реального времени. Также вы можете выбрать метод открытия для удобства отображения.
    .personal-content__action
        .personal-content__methods
          ul.tabs-icons(data-tab-filter="statistic")
            li(data-filter="phone"): span( class=""  data-tooltip="Метод открытия позвонив на номер телефона"): +bgimage('/img/common/remote-device-call.svg') 
            li(data-filter="number"): span( class=""  data-tooltip="Метод открытия по номеру авто"): +bgimage('/img/common/remote-device-car-plate.svg')
            li(data-filter="rfid"): span( class=""  data-tooltip="Метод открытия чипом RFID"): +bgimage('/img/common/remote-device-chip.svg')
            li(data-filter="app"): span( class=""  data-tooltip="Метод открытия с мобильного приложения"): +bgimage('/img/common/remote-device-mobile-app.svg')
            li(data-filter="pult"): span( class=""  data-tooltip="Метод открытия c пульта ДУ"): +bgimage('/img/common/remote-device-pult.svg')
            li(data-filter="rfid-card"): span( class=""  data-tooltip="Метод открытия RFID картой"): +bgimage('/img/common/remote-device-rfid-card.svg')

    .personal-content__tab-container(data-tab-filter-container="statistic")
      .personal-content__table
        +table-access()
    .personal-content__pagination
      +pagination-showmore()



block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")