extends ../layouts/personal

include ../../blocks/modules/personal-aside/personal-aside.pug
include ../../blocks/modules/personal-top/personal-top.pug
include ../../blocks/modules/personal-content/personal-content.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/page-devices/page-devices.pug

block variables
    include ../../data/data.pug
    - const title = "Привратник - Устройства управления"


block aside
  +personal-aside({
    title: 'Устройства управления'
  })

block content
  +personal-top()
  
  .personal-content
    .personal-content__breadcrubs
        +breadcrumb([
          'Общая информация',
          'Устройства управления',
        ])
    .personal-content__h1 Устройства управления
    .personal-content__action
        .personal-content__add
           a(href='#'): button.btn.btn--add(data-device="add")  Подключить <span class="hide-small-device">устройство</span>
         
         
    .personal-content__main
         +page-devices


    


block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")