extends ../layouts/personal

include ../../blocks/modules/personal-aside/personal-aside.pug
include ../../blocks/modules/personal-top/personal-top.pug
include ../../blocks/modules/personal-content/personal-content.pug
include ../../blocks/components/breadcrumb/breadcrumb.pug
include ../../blocks/modules/card-media/card-media.pug

block variables
    include ../../data/data.pug
    - const title = "Привратник - Видеонаблюдение"


block aside
  +personal-aside({
    title: 'Видеонаблюдение'
  })

block content
  +personal-top()
  
  .personal-content
    .personal-content--row
      .personal-content__left-side
        .personal-content__breadcrubs
            +breadcrumb([
              'Общая информация',
              'Видеонаблюдение',
            ])
        .personal-content__h1 Видеонаблюдение
        .personal-content__desc Видеотрансляции с подключённых устройств в режиме реального времени. При выборе открывается на весь экран и можно посмотреть видеоархив записей.
        .personal-content__action
          .personal-content__find
              .input--find: input(type="text" placeholder="Найти")
      .personal-content__right-side
        .memory-info
          .memory-info__title 9,84 ГБ места для видеоархива
          .memory-info__desc Вы подключили 1 ТБ места для видеоархива. Чтобы увеличить место ещё больше или настроить доступ к онлайн-трансляции для пользователей, перейдите в раздел услуг:
          .memory-info__link: a(href='/personal-services.html')  Перейти в «Услуги»

    .personal-content__main
      .report-media
        .report-media__list
          each item in [1,1,1,1,1,1,1]
            .report-media__item: +card-media-video(item)


block scripts
    script(src="/js/vendor.js")
    script(src="/js/common.js")