.report-media {

    padding-bottom: 36px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -12px;

        @media screen and (min-width: $w992) {
            margin: -16px;
        }
    }

    &__item {
        padding: 12px;
        flex-grow: 1;

        @media screen and (min-width: $w992) {
            padding: 16px;
        }

        @media screen and (min-width: $w576) {
            max-width: 50%;
            flex-basis: 50%;
        }

        @media screen and (min-width: $w992) {
            max-width: 33.33%;
            flex-basis: 33.33%;
        }


    }
}

.card-media {
    &__preview {
        padding-bottom: 10px;
        position: relative;
        cursor: pointer;


        @media screen and (min-width: $w992) {
            padding-bottom: 12px;
        }

        & picture {
            @include picture(56%, cover);
            background-color: #eee;
            border-radius: 8px;
            overflow: hidden;
        }
    }

    &__name {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;

        @media screen and (min-width: $w992) {
            padding-bottom: 10px;
        }
    }

    &__text {
        color: var(--text-02);
        font-size: 14px;
        text-align: center;
    }

    &__play {
        position: absolute;
        top: 12px;
        left: 12px;
        cursor: pointer;
    }
}