 .personal-content {
     background-color: #fff;
     height: 100%;
     padding: 16px;
     border-radius: 12px;

     @media screen and (min-width: $w576) {
         padding: 32px;
     }

     &__h1 {
         padding-bottom: 28px;
         font-size: 24px;
         font-weight: 600;
     }

     &__action {
         padding-bottom: 24px;
     }

     &__table {
         border: 1px solid #CED6E0;
         border-radius: 12px;
         overflow: hidden;

     }

     &__pagination {
         padding-top: 30px;
     }
 }