.page-personal {

    display: flex;
    height: 100%;
    max-width: 2048px;
    margin: 0 auto;

    @media screen and (min-width: $w1376) {
        padding: 0 16px;
    }

    &__aside {
        display: none;
        width: 288px;
        min-width: 288px;
        padding: 0 16px;

        &.is-open {
            position: fixed;
            display: block;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            z-index: 10;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
            overflow-x: auto;
            padding-top: 60px;
            animation: slide-left-menu 0.3s ease forwards;

        }


        @media screen and (min-width: $w1200) {
            display: block;
        }
    }

    &__content {
        width: 100%;
        min-height: 93vh;
        padding: 0 16px;

        @media screen and (min-width: $w1200) {
            width: calc(100% - 288px);
            display: flex;
            flex-direction: column;
        }
    }
}

@keyframes slide-left-menu {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}