.popup-form {
    padding: 24px 12px;
    max-width: 735px;

    @media screen and (min-width: $w480) {
        padding: 24px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 20px;
    }

    &__desc {
        padding-bottom: 15px;
        text-align: center;
        color: var(--text-02);
        line-height: 135%;
    }

    &__fields {
        & .btn {
            width: 100%;
        }

        & .form {
            &__tabs {
                & .checkbox {
                    font-weight: 600;
                }
            }
        }
    }
}

.select-address-on-map {
    padding: 12px;
}

.map-select {
    height: 50vh;
    background-color: var(--bg-01);
    width: 100%;
    border-radius: 8px;
}


.select-ymaps {

    font-family: "GolosText", sans-serif;
    padding-left: 10px;
    padding-top: 10px;

    &__title {
        font-size: 14px;
        font-family: "GolosText", sans-serif;
        color: var(--text-02);
        padding-bottom: 5px;
    }

    &__adrss {
        font-size: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #CED6E0;
        margin-bottom: 10px;
    }

    &__btn button {
        margin: 0 auto;
        background-color: transparent;
        color: var(--blue-dark);
        height: 44px;

        &:hover {
            color: #fff;
        }
    }
}


.worktime-toggle {
    width: 100%;
    color: var(--blue-dark);
    font-weight: 500;
    font-size: 16px;
    padding-top: 12px;

    & span {

        display: inline-flex;
        align-items: center;
        cursor: pointer;

        &::after {
            content: '';
            width: 24px;
            height: 24px;
            display: inline-block;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTS4yOTMuMjkzYTEgMSAwIDAxMS40MTQgMEw1IDMuNTg2IDguMjkzLjI5M2ExIDEgMCAwMTEuNDE0IDEuNDE0bC00IDRhMSAxIDAgMDEtMS40MTQgMGwtNC00YTEgMSAwIDAxMC0xLjQxNHoiIGZpbGw9IiMyNTM2NzgiLz48L3N2Zz4=);
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s ease;
        }

        &.is-active {
            &::after {
                transform: rotate(180deg);
            }
        }

    }

}