.access-config {
    &__title {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 12px;
    }

    &__desc {
        padding-bottom: 28px;
        font-size: 15px;
        line-height: 135%;

        & a {
            color: var(--blue-dark);
            font-weight: 500;
        }
    }

    &__action {
        padding-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        margin: -6px;

        &>div {
            padding: 6px;
        }
    }

    &__find {
        width: 100%;
        max-width: 360px;
    }
}