include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

.popup-form
    .popup-form__title Добавление помощника
    .popup-form__desc Пожалуйста, проверьте правильность заполнения всех полей, чтобы избежать непредвиденных ситуаций
    .popup-form__fields
       
        form(action='/access-users-list.html' method='GET')
             .form
               .form__item: .form__subitem
                    .form__label Имя помощника
                    input(type="text" placeholder="Введите имя")

               .form__item: .form__subitem
                    .form__label Номер телефона
                    input(type="tel" data-maska="+#(###)###-##-##" placeholder="Введите номер")

                
               .form__item: .form__subitem
                    strong Права доступа 
                    ul.switch-list.switch-list--column
                         li: +checkbox('Добавление пользователей')
                         li: +checkbox('Добавление групп')
                         li: +checkbox('Добавление парковок ')


               .form__item: .form__subitem
                    strong Парковки
                    select(multiple="true")
                         option(value="") Парковка 1
                         option(value="") Парковка 2
                         option(value="") Парковка 3
                         option(value="") Парковка 4
                         option(value="") Парковка 5
                         option(value="") Парковка 6
                         option(value="") Парковка 12

             
                    
                    

               .form__item: .form__subitem
                    .form__label Примечание (необязательно)
                    input(type="text" placeholder="Текст примечания")
                
                
               
     
               .form__item: .form__subitem
                    button.btn Добавить помощника