include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

.popup-form
    .popup-form__title Использованы все доступные пропуски
    .popup-form__desc Вы использовали все доступные бесплатные разовые/временные пропуски в этом месяце.
    .popup-form__fields
       
          form(action='/access-onetime-list.html' method='GET')
               .form
                 .form__item
                    .form__subitem: .form__label: center Подключите пакеты пропусков «Базовый» или «Профессиональный»,чтобы получить большее количество пропусков:
                 .form__item
                    .form__subitem: a(href='/personal-services.html' class="btn btn-full" ) Подключить пакет
                    .form__subitem: button.btn.btn-white(data-af-popup="close" type="button") Спасибо, пока не нужно
               