include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

.popup-form
    .popup-form__title Добавление парковки
    .popup-form__desc Для правильной работы с парковкой необходимо заполнить все поля ниже
    .popup-form__fields
       
        form(action='#' method='POST')
             .form
               .form__item: .form__subitem
                    .form__label Название парковки
                    input(type="text" placeholder="Введите название")
               .form__item: .form__subitem
                    .form__label Адреса строений, входящих в парковку

                    .form__repeat
                         .form__repeat-item
                              .form__repeat-field
                                   .input--suggest.input--suggest-address
                                        input(type="text" data-suggest="input" placeholder="Найти адрес"  )
                              .form__repeat-remove

                    .input--suggest.input--suggest-address
                         input(type="text" data-suggest="input" placeholder="Найти адрес"  )
               .form__item: .form__subitem
                    .form__label Устройства управления
                    select(placeholder="Выберите устройство")
                        option(value="1") Вариант 1
                        option(value="2") Вариант 2
                        option(value="3") Вариант 3
                        option(value="4") Вариант 4
                        option(value="4") Вариант 4
               .form__item: .form__subitem
                    button.btn Добавить парковку