include ../../helpers/mixins.pug
include ../../../blocks/modules/popup-form/popup-form.pug

.popup-form
    .popup-form__title Добавление разового/временного пропуска
    .popup-form__desc Пожалуйста, проверьте правильность заполнения всех полей, чтобы избежать непредвиденных ситуаций
    .popup-form__fields
       
          form(action='/access-onetime-list.html' method='GET')
               .form
                    .form__item: .form__subitem
                         .form__label Номер телефона, которому выдаётся пропуск
                         input(type="text" placeholder="Введите номер")

                    .form__label Время действия пропуска

                    .form__item
                         .form__subitem: input(type="text" placeholder="Начало действия")
                         .form__subitem: input(type="text" placeholder="Конец действия")

                    .form__item
                         .form__subitem
                              .form__label Тип пропуска
                              ul.switch-list
                                   li: +radio('Разовый пропуск', 'type', '1', 'checked')
                                   li: +radio('Многоразовый на время действия', 'type', '2')
                         
                         
                    
          
                    .form__item: .form__subitem
                         button.btn Добавить пропуск