mixin personal-aside(data) 
    .personal-aside 
        .personal-aside__logo
            a(href='#'): +bgimage--nolazy('/img/common/logo-blue-horisontal.svg')
        .personal-aside__nav
            nav
                ul
                    each item in app.mainMenu
                            li(class =  (data.title == item.text ? "is-active" : "") class = (item.sub ? " is-sub-menu":"") class = (data.title == item.text && data.openSub ? " is-open":""))
                                a(href=item.href)!= '<span class="ic_24" style="background-image: url(/img/svg/'+item.icon+')" ></span>' + item.text
                                if(item.sub)
                                    ul.sub-menu
                                        each subitem in item.sub
                                            li: a(href=subitem.href)= subitem.text 