mixin personal-aside(data)
    .personal-aside 
        .personal-aside__logo
            a(href='#'): +bgimage('/img/common/logo-blue-horisontal.svg')
        .personal-aside__nav
            nav
                ul
                    each item in app.mainMenu

                        if (data.title == item.text)
                            li(class = "is-active"): a(href=item.href)!= '<span class="ic_24 lazyload" class="lazyload" data-bg="/img/svg/'+item.icon+'" ></span>' + item.text
                        else
                            li: a(href=item.href)!= '<span class="ic_24 lazyload" class="lazyload" data-bg="/img/svg/'+item.icon+'" ></span>' + item.text
