.header
    .container
        .header-top
            .header-top__site
                a(href='#')
                    +icons('#ic_arr-back', 24)
                    span Вернуться на сайт
            .header-top__logo
                a(href='/')
                    span.bgimage(style="background-image: url('/img/common/logo-blue.svg')") 
                    
            .header-top__help
                a(href='#')
                    +icons('#ic_msg', 24)
                    span Нужна помощь