- 
  const app = {

    mainMenu: [

      { 
        text: 'Общая информация',  
        href: '/personal-info.html', 
        icon: 'ic_nav-info.svg'
      },
      { 
        text: 'Устройства управления',  
        href: 'personal-device.html', 
        icon: 'ic_nav-device.svg'
      },
      { 
        text: 'Мои парковки',  
        href: 'personal-parkings.html', 
        icon: 'ic_nav-parking.svg'
      },
      
      { 
        text: 'Настройки доступа',  
        href: 'personal-settings.html', 
        icon: 'ic_nav-settings.svg',

        sub: [
          {
            text: 'Сценарии доступа',  
            href: 'access-script.html', 
          },
          {
            text: 'Список пользователей',  
            href: 'user-list.html', 
          },
          {
            text: 'Права доступа',  
            href: 'access-rights.html', 
          },
          {
            text: 'Разовые/временные пропуски',  
            href: 'access-onetime.html', 
          },
        ]
      },
      
      { 
        text: 'Контроль доступа',  
        href: 'personal-access.html', 
        icon: 'ic_nav-access.svg'
      },
      
      { 
        text: 'Видеонаблюдение',  
        href: 'personal-video.html', 
        icon: 'ic_nav-video.svg'
      },
      
      { 
        text: 'Финансы',  
        href: 'personal-finance.html', 
        icon: 'ic_nav-finance.svg'
      },
      
      { 
        text: 'Вопросы и ответы',  
        href: 'personal-faq.html', 
        icon: 'ic_nav-faq.svg'
      },

    ],

    parkings: [
       {
        name: 'Парковка на Болдина',
        address: 'Москва, ул. Болдина, д. 21А; Москва, ул. Болдина, д. 22; Москва, ул. Болдина, д. 24; Москва, ул. Болдина, д. 27Б',
        device: 'Шлагбаум у кафе «Витязь»; Шлагбаум у  детской площадки д.22',
    },
    {
        name: 'Парковка 2',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35; Москва, пр. Шмидта, д. 55; Москва, ул. Островского, д. 32; Москва, пр. Шмидта, д. 58',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 3',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 4',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 5',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 6',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 7',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 8',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 9',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 10',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    }
    ],

    notification: [
      {
        title: '<span class="item-nitification--green">Доступ предоставлен</span>',
        date: '02.02.23 / 16:27',
        text: 'Александр Юрьевич Шилов, +7 (905) 533-**-02'
      },
      {
        title: '<span class="item-nitification--red">Отказ в доступе</span> (не внесен в БД)',
        date: '01.02.23 | 14:23 ',
        text: 'АНОНИМ, +7 (905) 533-**-02'
      },
      {
        title: '<span class="item-nitification--red">Отказ в доступе</span> (не внесен в БД)',
        date: '01.02.23 | 14:22 ',
        text: 'АНОНИМ, +7 (905) 533-**-02'
      },
      {
        title: '<span class="item-nitification--green">Доступ предоставлен</span>',
        date: '28.01.23 / 09:41',
        text: 'Михаил Тестовый +7 (490) 533-**-85'
      },
      {
        title: '<span class="item-nitification--green">Доступ предоставлен</span>',
        date: '28.01.23 / 17:30',
        text: 'Михаил Тестовый, +7 (490) 533-**-85'
      },
    ],


    pageDevice: [
      {
          icon: '/img/common/ic_device_1.svg',
          title: '1. Закажите и установите конечное оборудование системы«ПривратникЪ»',
          desc: 'Не требуются специальные сложные настройки, поскольку интеграция с серверным уже ПО произведена на этапе производства, а монтажнику остаётся только произвести подключение устройств на объекте.',
          links: '<ul><li><button class="btn btn-line">Наше оборудование</button></li></ul>'
      },
      {
          icon: '/img/common/ic_device_2.svg',
          title: '2. Добавьте устройства управления в личном кабинете (вы сейчас здесь)',
          desc: 'Добавьте ранее установленные устройства в личном кабинете, чтобы их можно было удобно добавлять (объединять) в парковки и настраивать доступ. Сразу после добавления вы можете проверить работоспособность устройства.',
          links: '<ul><li><button class="btn btn-line"> + Подключить устройство</button></li></ul>'
      },
      {
          icon: '/img/common/ic_device_3.svg',
          title: '3. Добавьте парковки',
          desc: 'Создайте свои парковки, объедините все необходимые здания и объекты, доступ к которым хотите ограничить. Добавьте одно или сколько угодно много управляющих устройств в одну парковку.',
          links: '<ul><li><a href="" >Перейти в «Мои парковки»</a></li></ul>'
      },
      {
          icon: '/img/common/ic_device_4.svg',
          title: '4. Настройте доступы, смотрите статистику и многое другое',
          desc: 'Создавайте сценарии доступа к парковкам. Добавляйте пользователей и группы пользователей, в том числе с помощью наших шаблонов. Настраивайте права доступа. Смотрите статистику и проверяйте видео проездов в «Видеонаблюдении».',
          links: '<ul><li><a href="" >Перейти в «Настройки доступа»</a></li> <li><a href="" >Перейти в «Статистика доступа»</a></li></ul>'
      }
  ]

  };
 





