- 
  const app = {

    mainMenu: [

      { 
        text: 'Общая информация',  
        href: '/personal-info.html', 
        icon: 'ic_nav-info.svg'
      },
      { 
        text: 'Устройства управления',  
        href: 'personal-device.html', 
        icon: 'ic_nav-device.svg'
      },
      { 
        text: 'Мои парковки',  
        href: 'personal-parkings.html', 
        icon: 'ic_nav-parking.svg'
      },
      
      { 
        text: 'Настройки доступа',  
        href: 'personal-settings.html', 
        icon: 'ic_nav-settings.svg'
      },
      
      { 
        text: 'Контроль доступа',  
        href: 'personal-access.html', 
        icon: 'ic_nav-access.svg'
      },
      
      { 
        text: 'Видеонаблюдение',  
        href: 'personal-video.html', 
        icon: 'ic_nav-video.svg'
      },
      
      { 
        text: 'Финансы',  
        href: 'personal-finance.html', 
        icon: 'ic_nav-finance.svg'
      },
      
      { 
        text: 'Вопросы и ответы',  
        href: 'personal-faq.html', 
        icon: 'ic_nav-faq.svg'
      },

    ],

    parkings: [
       {
        name: 'Парковка на Болдина',
        address: 'Москва, ул. Болдина, д. 21А; Москва, ул. Болдина, д. 22; Москва, ул. Болдина, д. 24; Москва, ул. Болдина, д. 27Б',
        device: 'Шлагбаум у кафе «Витязь»; Шлагбаум у  детской площадки д.22',
    },
    {
        name: 'Парковка 2',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35; Москва, пр. Шмидта, д. 55; Москва, ул. Островского, д. 32; Москва, пр. Шмидта, д. 58',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 3',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 4',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 5',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 6',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 7',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 8',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 9',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    },
    {
        name: 'Парковка 10',
        address: 'Москва, ул. Островского, д. 36; Москва, ул. Островского, д. 35',
        device: 'Шлагбаум 1 (Москва, ул. Островского, д. 36)',
    }
    ]
    
  };
 






