mixin notification
    .notification-group
        .notification-group__title 30 сентября
        .notification-group__list
            .notification-group__item
                .item-notification.item-notification--unread
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02
            .notification-group__item
                .item-notification.item-notification--unread
                    .item-notification__title
                        strong.color--red Отказ в доступе 
                        | (не внесен в БД)
                    .item-notification__message 14:23, АНОНИМ, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--red Отказ в доступе 
                        | (не внесен в БД)
                    .item-notification__message 01.02.23, 14:22 – АНОНИМ, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 28.01.23, 09:41 – Михаил Тестовый +7 (490) 533-**-85
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02


    .notification-group
        .notification-group__title 27 сентября
        .notification-group__list
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 28.01.23, 09:41 – Михаил Тестовый +7 (490) 533-**-85
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02

    .notification-group
        .notification-group__title 19 сентября
        .notification-group__list
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--red Отказ в доступе 
                        | (не внесен в БД)
                    .item-notification__message 14:23, АНОНИМ, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--red Отказ в доступе 
                        | (не внесен в БД)
                    .item-notification__message 01.02.23, 14:22 – АНОНИМ, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 28.01.23, 09:41 – Михаил Тестовый +7 (490) 533-**-85
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 28.01.23, 09:41 – Михаил Тестовый +7 (490) 533-**-85
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 28.01.23, 09:41 – Михаил Тестовый +7 (490) 533-**-85
            .notification-group__item
                .item-notification
                    .item-notification__title
                        strong.color--green Доступ предоставлен
                    .item-notification__message 16:27, Александр Юрьевич Шилов, +7 (905) 533-**-02